.blog_entries{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:2px solid blue; */
    widows: 100% !important;
    
}

.blog_img_div{
    width:90%;
    text-align: center;
}
.blog_img{
    width:70%;
}
.blog_content{
    /* border:2px solid green; */
    width:90%;
    box-sizing: border-box;
    padding: 16px;
    font-size:13;
    color:gray

}