.sobremi_section{
    padding-top: 190px;
    padding-bottom: 240px;
    background: url(../../../assets/all\ \ \ images/pattern.png) no-repeat bottom right;
}
.sobremi_section .header-area{
    max-width: 740px;
}
.sobremi_section .header-area h6{
    font-size: 27px;
    color: #30d3a6;
    letter-spacing: 10px;
    padding-bottom: 30px;
}
.sobremi_section .header-area h3{
    font-size: 55px;
    padding-bottom: 20px;
}
.sobremi_section p{
    font-size: 22px;
    color: #515151;
    margin-bottom: 30px;
}



@media (min-width: 1200px) and (max-width: 1449px){

    .sobremi_section{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .sobremi_section .header-area h3{
        font-size: 40px;
    }

}


@media(max-width:991px){ 

    .sobremi_section {
        padding-bottom: 80px;
    }
    .sobremi_section .header-area h3{
        font-size: 40px;
    }

    .sobremi_section .header-area h6{
        font-size: 20px;
    }
    .sobremi_section .header-area h3{
        font-size: 30px;
    }
    p{
        font-size: 18px !important;
    }
}


@media(max-width:575px){ 

    .sobremi_section .header-area h3{
        font-size: 30px;
    }

    .sobremi_section {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .sobremi_section .header-area h6{
        font-size: 20px;
    }
    .sobremi_section .header-area h3 {
        font-size: 25px;
    }
    p{
        font-size: 16px !important;
    }
}


